@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #e2e7ec;
    margin: auto;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 71px 540px 540px;
    justify-content: center;
    gap: 20px 20px;
    grid-template-areas:
        "head head head"
        "big big small_1"
        "small_2 small_3 small_4"
        "foot foot foot"
}
#head {
    grid-area: head;
    height: 71px;
}

#item_big {
    grid-area: big;
    background: url(../img/car.png) no-repeat;
    padding-left: 45px;
}

#item_small_1 {
    grid-area: small_1;
}

#item_small_2 {
    grid-area: small_2;
}

#item_small_3 {
    grid-area: small_3;
}

#item_small_4 {
    grid-area: small_4;
}

#foot {
    grid-area: foot;
    height: 180px;
    text-align: center;
    padding-top: 78px;
    font-size: 13px;
    font-family: Myriad Pro, sans-serif;
    color: #99a5b0;
}

#foot p {
    display: inline-block;
    margin-left: 15px;
}


#item_small_1,
#item_small_2,
#item_small_3,
#item_small_4,
#item_big {
    background-color: white;
}

#november {
    display: inline-block;
    margin-top: 30px;
    padding-top: 370px;
    color: #818181;
    font-size: 13px;
    font-family: Myriad Pro, sans-serif;
}

.november {
    display: inline-block;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 24px;
    color: #818181;
    font-size: 13px;
    font-family: Myriad Pro, sans-serif;
}

#text {
    display: inline-block;
    font-size: 37px;
    font-family: Myriad Pro, sans-serif;
    color: white;
    margin: 0;
}

.text {
    display: inline-block;
    padding-left: 25px;
    margin: 0px;
    color: #1d1d1d;
    font-size: 22px;
    font-family: Myriad Pro, sans-serif;
}

#round_photo {
    margin-top: 60px;
    padding-left: 25px;
}